.app-root{
    min-height: 100vh;
    padding: 0.53rem;
    background: linear-gradient(135deg,#e0f7fa 0%,#F8F8FF 100%);
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
}